
/*------------Base Styles----------------*/
body {
  margin:0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: .8em;
  background: url(../images/bamboo.jpg);
  background-size:cover;
  background-attachment:fixed;
  background-position: center;
  width: 100%;
  min-width: 320px;
}

.heading {
    color: white;
    text-align: center;
    font-variant-caps: all-petite-caps;
    font-size: 60px;
    padding: 70px 0 20px 0;
    margin: 0 auto;
}


a {
  text-decoration: none;
  color: white;
  height: 0;
}

h2 {
  margin: 0;
}

/*------------Grid Layout----------------*/
.grid {
display: grid;
width: 100%;
grid-template-columns: 100%;
grid-template-rows: auto;
grid-row-gap: 20px;
grid-template-areas:
  'main-nav'
  'header'
  'portfolio'
  'codeProjects'
  'designProjects'
  'aboutMe'
  'footer';

}



/*------------Grid Areas----------------*/
.mainNav {
  grid-area: nav;
}

.header {
  grid-area: header;
}

.portfolio {
  grid-area: portfolio;
  background: url(../images/bamboo.jpg);
}

.designProjects {
  grid-area: designProjects;
  background-color: white;
}

.codeProjects {
  grid-area: codeProjects;
  background-color: white;
}

.aboutMe {
  grid-area: aboutMe;
  display: inline-block;
  background: url(../images/bamboo.jpg);
}

footer {
  grid-area: footer;
}

/*------------Navigation----------------*/

.mainNav {
  width: 100%;
  background: black;
  height: 3.2em;
  padding: 2.5px;
  position: fixed;
  text-align: right;
  z-index: 1000;
  display:flex;
  justify-content:space-around;
}

.nav-logo {
  width: 40px;
  height: 40px;
  padding-left: 20px;
  margin-bottom: 5px;
  fill: white;
  stroke:  none;
}

.nav {
  display:inline-flex;
  font-weight: 500;
  list-style-type:none;
  margin: 0;
  font-variant-caps:all-petite-caps;
  font-size: 25px;
  padding-right: 1em;
}

.nav li {
  padding: 5px 15px;
  height:0;
}

.nav li:last-child {
  padding-right: 45px;
}

a.nav {
  transition: all .5s;
}

.nav a:hover {
  color: #d279a6; /*pink */
 }

.currentLink {
  color: #d98818; /*orange*/
}

/*-----------Header------------*/


header {
  text-align: center;
  padding-top: 5px;
  background-image: url(../images/marble.jpg);
  background-size:cover;
  background-position: center;
  min-width:  100%;
  height: 100vh;
}

.sub-header {
  color: black;
  font-size: 45px;
  font-variant-caps:all-petite-caps;
  margin: 0;
}

.name-tag {
  width: 100%;
  padding: 0;
  min-height: 13px;
  display:inline-block;
}

.view-button {
  padding: 5px 20px;
  border-radius: 10px;
  color: black;
  background-color: rgba(255, 255, 255, .4);
  font-size: 1.5em;
  font-variant-caps:all-petite-caps;
}

.view-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, .8);
}

/*------------Animating Header Logo--------*/

/*------Keyframes--------*/
@keyframes slidedown {
  0% {
  transform: translateY(-100%);
  }
  50%{
  transform: translateY(8%);
  }
  65%{
  transform: translateY(-4%);
  }
  80%{
  transform: translateY(4%);
  }
  95%{
  transform: translateY(-2%);
  }
  100% {
  transform: translateY(0%);
  }
}
/*------------Header SVG Logo--------*/
.mainLogo {
  width: 280px;
  height: auto;
  margin: auto 0;
  margin-top: 0px;
  margin-bottom: 50px;
  transform: translate3d(0, 180px, 0);
  animation: slidedown 2s forwards;
}

.letter-g {
  fill: url(#background);
  stroke-width: 1;
  stroke: orange;
  filter: url(#shadow);

}

.letter-t {
  fill: url(#background);
  stroke-width: 1;
  stroke: orange;
  filter: url(#shadow);
}
/*------------Animating Name SVG Logo--------*/

/*------Keyframes--------*/
@keyframes write {
    100% {
      stroke-dashoffset: 0;
    }
}
@keyframes fillScript {
    100% {
      fill: black;
    }
}
/*-----------------------*/

.name-svg {
  margin:0;
  width: 320px;
  height: auto;
  margin-top: 10px;
}

.handwriting {
  stroke: black;
  stroke-width: .8;
  stroke-dasharray: 170;
  stroke-dashoffset: 170;

  animation: write 3s linear forwards, fillScript .8s 3s forwards;
}



/*------------Portfolio--------*/
header,
.portfolio,
.aboutMe,
.designProjects,
.codeProjects {
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset -7px -5px 5px rgba(0, 0, 0, 0.5);
}

.sticky {
  display: inline-block;
  margin: 30px 20px 10px 20px;
}

.sticky img {
  width: 250px;
  height: auto;
  box-shadow: 5px 10px 1px rgba(0, 0, 0, .5);
  transition: transform .5s ease-in;
}

.sticky img:hover {
  transform: scale(1.3);

}

.sticky p {
  font-size: 2em;
  font-variant-caps:all-petite-caps;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 4px 8px 8px 8px;
}

.sticky p:hover {
  color: white;
  background-color: rgba(0, 0, 0, .8);
}
/*------------designSkills & codeWork--------*/

#designProjects.heading,
#codeProjects.heading {
  color: rgba(0, 0, 0, .8);
}

.designProjects,
.codeProjects {
  display: inline-block;
  background-image: url(../images/marble.jpg);
  background-color: white;
  padding-bottom: 40px;
}

.designProjects {
  padding-bottom: 90px;
}

/*-----Skill/Project Containers--------*/
.designSkill,
.project,
.codeProjects .textOverlay,
.designProjects .textOverlay {
  margin: 40px 15px 65px 0px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.designProjects .background,
.codeProjects .background {
  margin:  25px;
  position: relative;
  overflow: hidden;
}

.designSkill,
.designProjects .background,
.designProjects  img.slide,
.designProjects .imageContainer,
.designProjects .textOverlay  {
  width: 300px;
  height: 400px;
}

.project,
.codeProjects .background,
.codeProjects .background img,
.codeProjects .imageContainer,
.codeProjects .textOverlay {
  width: 300px;
  height: 500px;
}

.designProjects .background .imageContainer,
.designProjects .background .imageContainer .textOverlay,
.codeProjects .background  .imageContainer .textOverlay,
.codeProjects .background .imageContainer {
  margin-top: 0;
}

/*-----Card textOverlay Text--------*/
.designProjects .textOverlay,
.codeProjects .textOverlay,
img.slide {
  margin: 30px 15px;
  opacity: 1;
  transition: transform .9s ease-out;

  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

  color: white;
  font-size: 1.0em;
  line-height: 1.5em;
  margin: 1.5em 0;
  text-align: center;
  border-radius: 5px 5px 90px 5px;
  border: .5px solid white;
  padding: 10px 15px;
  background-color:  #0a0a29; /* dark blue */
}


img.slide {
  margin-top: 0;
  padding: 0;
  background-color: white;
}

.textOverlay.clicked {
  opacity: 0;
}

.designProjects .background,
.codeProjects .background {
  margin: 0;
  border-radius: 5px;
  background-color: #cc6600; /* drk orange */
}


.textOverlay img.icon {
  width: 90%;
  height: auto;
  border: none;
}


.designProjects .skillHeader {
  font-size: 1.2em;
}

/*----View Card Text--------*/

.designProjects .background h4,
.codeProjects .background h4 {
  margin: 0;
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  transform: rotate(-44deg);
}

/*-----Projects/ Skilss Link Styling--------*/


.codeProjects a,
.designProjects a {
  display: inline-block;
  color:  #0a0a29; /* dark blue */
  font-size: 1.2em;
  height: 1.4em;
  border-style: none;
  border-radius: 5px;
  border: .5px solid #0a0a29; /* dark blue */
  background-color: white;
  margin-top: 10px;
  padding: 6px 10px;
}
.codeProjects a:hover,
.designProjects a:hover{
  color:  #cc6600; /* drk orange */
  border-color:  #cc6600; /* drk orange */
  cursor: pointer;
}

/* button span {
  display: none;
} */

.codeButton,
.closeCode {
  color: #0a0a29; /* dark blue */
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 8px 10px;
  margin-top: 100px;
  border-radius: 5px;
  border: none
}
.codeButton:hover,
.closeCode:hover {
  color: white;
  background-color: #0a0a29; /* dark blue */
}


.siteLink {
  cursor: pointer;
}


/*------------About Me--------*/

.aboutMe {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 175px;
  grid-auto-rows: auto;
  grid-template-areas:
  "heading"
  "polaroid"
  "contact"
  "about"
}

.contact {
  grid-area: contact;
}

.about {
  grid-area: about;
}

.aboutMe h2 {
  grid-area: heading;
}

.polaroid {
  grid-area: polaroid;
}

.card {
  color: white;
  font-size: 19px;
  line-height: 1.5em;
  margin: 1.5em 0;
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.5);
  display:inline-block;
}

.card:hover {
  border-color: #d98818;
}

.card ul {
  display: block;
  overflow: visible;
  word-wrap: break-word;
  list-style: none;
  font-variant-caps: all-petite-caps;
  font-size: 19px;
  padding: 0;
}

.card li {
 text-align: center;
 margin-bottom: 5px;
}

.card.contact,
.card.about {
  width: 80%;
  margin-left: 5%;
  color: black;
  background-image: url(../images/marble.jpg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
}

.card.contact {
    height: 225px;
    margin-top: 25px;
}

.card.contact {
    color: gray;
}

.card.contact a {
    color: black;
}

.card.contact a:hover {
    color: #d279a6; /*pink */
}

.polaroid {
  width: 275px;
  height: auto;
  box-shadow: 8px 10px 1px rgba(0, 0, 0, .5);
}

/*------------Footer--------*/

footer {

  padding-top: 20px;
  background: url(../images/bamboo.jpg);
  background-size:cover;
  background-attachment:fixed;
  background-position: center;
  max-width: 100%;
  height: auto;
}



.copyright {
  color: white;
  padding-bottom: 10px;
  font-size: 1em;
}

footer ul {
  display: inline-block;
  position: fixed;
  padding: 0;
  bottom: 5px;
  right: 5px;
  list-style: none;
  background-color: rgba(255, 255, 255, .6);
  z-index: 1000;
}
footer ul {
  padding-left: 0;
}

footer li {
  margin-left: 5px;
}

footer ul:first-child {
  padding-top: 6px;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  background-size: 40px 40px;
  opacity: 1;
  transition: all .25s;
}

a.twitter {
  background-image: url(../images/Twitter_black.png);
  background-repeat:no-repeat;

}

a.linkedin {
  background-image: url(../images/linkedin.png);
  background-repeat:no-repeat;
}

a.github {
  background-image: url(../images/github.png);
  background-repeat:no-repeat;
}

a.social:hover {
  opacity: .6;
}

.clearfix {
  clear: both;
}


/*-------------Media Queries--------*/


@media (orientation: landscape) {
  /*-------Remove mainLogo for Lanscape on smaller screens--------*/
  .mainLogo {
    display: none;
  }
  .name-tag {
    margin-top: 30px;
  }
 }

 @media (min-width: 400px) {
   /*-------Reset Nav Bar Spacing--------*/
   .mainNav {
     justify-content:space-between;
   }
   .nav li:last-child {
     padding-right: 0;
   }
 }

 @media (orientation: landscape) and (min-width: 768px) {
    /*-------Return Logo for Lanscape on larger screens--------*/
   .mainLogo {
     display: inline-block;
   }

  }

@media (min-width: 768px) {

  header {
    height: auto;
  }
  .mainLogo {
    margin-top: 50px;
  }
  .sticky {
    display: inline-block;
    margin: 30px 20px 40px 20px;
  }

  .designProjects .intro,
  .codeProjects .into {
    vertical-align: top;
  }

  .designProjects .intro img,
  .codeProjects .into img {
    width: 90%;
    height: auto;
  }

  .card {
    margin: 1.5em;
  }

  .aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    grid-auto-rows: auto;
    grid-template-areas:
    "heading heading"
    "polaroid about"
    "contact ."
  }

  .card {
    margin: 0 1em;
    padding: 10px 15px;
  }

  .card ul {
    padding-left: 10px;
  }

}


@media (min-width: 1024px) {

  header {
    padding-top: 1em;
    height: auto;
  }

  .designProjects .intro,
  .codeProjects .into {
    vertical-align: top;
  }

  .designProjects .intro img,
  .codeProjects .into img {
    width: 90%;
    height: auto;
  }

  .aboutMe {
    display: grid;
    grid-template-columns: 33% 1fr 1fr;
    grid-template-rows: 200px;
    grid-auto-rows: auto;
    grid-template-areas:
    "heading heading heading"
    "about polaroid contact"
  }


}
